/****************************
*   clear-both
****************************/
.clear-both {
  clear: both;
}

/****************************
*   image-vertical-bottom
****************************/
img {
  vertical-align: bottom;
}

/****************************
*   display-none
****************************/
.display-none {
  display: none;
}

@media #{$medium-and-down} {
  .m-display-none {
    display: none;
  }
}

@media #{$small-and-down} {
  .s-display-none {
    display: none;
  }
}
