.profile {
    &__item {
        margin: 48px 0;
        text-align: center;
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 20px;
        }
        &--list {

        }
    }
    &__detail {
        margin-bottom: 16px;
    }
}