.profile {
    h2 {
        font-size: $titel_font_size;
        text-align: center;
    }
    &__item {
        margin: 48px 0;
        h3 {
            font-size: 28px; 
        }
        h4 {

        }
        &--list {

        }
    }
}