.profile {
    &__item {
        width: 60%;
        margin: 48px 20%;
        @media #{$medium-and-down} {
            width: 80%;
            margin: 48px 10%;
        }

        h3 {
            font-size: 24px;
            text-align: center;
        }
        h4 {
            font-size: 20px;
            text-align: center;
            margin-bottom: 8px;
        }
        &--list {
            .company {
                font-weight: bold;
            }
        }
    }
    &__detail {
        margin: 16px 0;
        &--center {
            text-align: center;
            h5 {
                margin: 0;
            }
        }
    }
}