#main {
  width: $content_width;
  margin: 0 auto;
  @media #{$large-and-down} {
    width: 100%;
  }
  @media #{$medium-and-down} {
  }

  .block {
    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
    }
    h2 {
      font-size: $titel_font_size;
      margin: $title_margin;
      text-align: center;
    }
  }
}