#main {
  width: $content_width;
  margin: 0 auto;
  .top-section {
    img {
      border-radius: 50%;
      width: 100%;
      max-width: 300px;
    }
  }
  section {
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 26px;
    }
  }
  @media #{$large-and-down} {
    width: 100%;
  }
  @media #{$medium-and-down} {
  }
}
.row {
  .col {
    &.col-flipped {
      @media #{$medium-only} {
        float: right;
      }
    }
  }
}

.profile {
}

.skill {
  .devtool-block {
    width: 100px;
    @media #{$small-and-down} {
      width: 80px;
    }
  }
  .star-area {
    font-size: 20px;
    letter-spacing: 0;
    width: 100px;
    line-height: 1;
    @media #{$small-and-down} {
      font-size: 16px;
      width: 80px;
    }
    .gray-star {
      text-shadow: 0 1px 1px #000;
    }
    .active-star {
      margin-top: -20px;
      color: #FFFD40;
      white-space: nowrap;
      overflow-x: hidden;
      @media #{$small-and-down} {
        margin-top: -16px;
      }
    }
  }
  .devicons {
    width: 64px;
    margin: 0 auto;
    font-size: 64px;
  }
  .devicons-angular {
    color: #F70000;
  }
  .devicons-html5 {
    color: #FC4200;
  }
  .devicons-css3 {
    color: #0069BE;
  }
  .devicons-ruby_on_rails {
    color: #FFFFFF;
    background: radial-gradient(26px at 26px 26px,#EE9BA8, #C4002C);
  }
  .devicons-wordpress {
    color: #0080AA;
  }
  .devicons-jquery {
    color: #0070BA;
  }
  .other-skill {
    .devicons-coffeescript {
      color: #2B3958;
    }
    .devicons-react {
      color: #00E0FF;
    }
    .devicons-yeoman {
      color: #010101;
    }
    .devicons-ionic {
      color: #4891FF;
    }
    .devicons-sass {
      color: #E65EA4;
    }
    .devicons-python {
      color: #000000;
    }
    .devicons-bower {
      color: #643D28;
    }
    @media #{$small-and-down} {
      .devicons {
        font-size: 48px;
      }
    }
  }
}

.portfolio {
  img {
    width: 100%;
  }
  @media #{$medium-only} {
    .product-block {
      @include flexbox();
      @include align(center);
    }
    .reverse{
      flex-direction: row-reverse;
    }
  }
}

$link_area_height: 48px;
.link-area {
  a {
    color: $main_font_color;
    display: inline;
  }
  img {
    width: $link_area_height - 12px;
    height: $link_area_height - 12px;
    margin-bottom: 6px;
  }
  .devicons {
    font-size: $link_area_height;
  }
}


$border-margin: 15px;
.section-border:before,.section-border:after {
  display: block;
  content: "";
  transform: rotate(3deg);
  border: solid 2px $blue_color;
  width: 200%;
  margin: 0 -50%;
  height: $border-margin;
  @media #{$medium-and-down} {
    transform: rotate(4deg);
  }
}
.section-border:after {
  margin: -$border-margin -50% 0;
  transform: rotate(-3deg);
  @media #{$medium-and-down} {
    transform: rotate(-4deg);
  }
}