body {
  font-family: 'Noto Sans Japanese';
  font-weight: 200;
  letter-spacing: 0.5px;
  margin: 0;
  background: $background_color;
  overflow: hidden;
  color: $main_font_color;
  -webkit-text-size-adjust: 100%;
}