#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header_height;
  z-index: 999999;
  background-color: $main_blue_color;
  @media #{$small-and-down} {
    height: $mobile_header_height;
  }

  .site-title {
    position: relative;
    top: -20px;
  }

  .current_page_guide {
    border: 1px solid white;
    bottom: 24px;
    position: absolute;
  }

  .navbar-fixed {
    width: 100%;
    padding: 0 80px;
    @media #{$medium-and-down} {
      padding: 0 40px;
    }
    @media #{$small-and-down} {
      padding: 0 16px;
    }
    margin: 0 auto;
    .site-branding {
      position: absolute;
      top: 0;
      left: 0;
      img {
        width: 100px;
        height: 100px;
      }
    }

    //mobile でのヘッダーの変更
    @media #{$small-and-down} {
      .header-nav {
        height: $mobile_header_height;
        line-height: $mobile_header_height;
        i {
          height: $mobile_header_height;
          line-height: $mobile_header_height;
        }
        .nav-wrapper {
          .brand-logo {
            height: $mobile_header_height;
            line-height: $mobile_header_height;
            img {
              top: -4px;
              width: 120px;
            }
          }
          a {
            height: $mobile_header_height;
          }
        }
      }
    }
    nav.header-nav {
      position: relative;
      top: 0;
      width: 100%;
      height: $header_height;
      margin: 0 auto;
      background-color: $main_blue_color;
      line-height: $header_height;
      box-shadow: none;
      -webkit-box-shadow: none;
      z-index: 999999;
      .nav-wrapper {
        a {
          color: #FFFFFF;
        }
      }

      @media #{$small-and-down} {
        height: $mobile_header_height;
      }

      .mdi-navigation-menu {
        font-size: 32px !important;
        margin-left: -4px;
      }

      .header-menu {
        position: absolute;
        right: 0;
        font-size: 16px;
        & > li {
          & > a {
            padding: 0 8px;
            color: #FFFFFF;
          }
          & > a:visited {
            color: #FFFFFF;
          }
          & > a:link {
            color: #FFFFFF;
          }
          & > a:hover {
            background: $main_blue_color;
            color: #FFFFFF;
          }
        }
      }
      // dropdownメニューのリンクのスタイル
      .dropdown-content {
        background-color: $main_blue_color;

        & > li {
          &:hover, &:active {
            background: $main_blue_color;
            color: #FFFFFF;
          }

          & > a {
            color: #FFFFFF;
          }
          & > a:visited {
            color: #FFFFFF;
          }
          & > a:link {
            color: #FFFFFF;
          }
        }
      }
    }
    // サイドバーのリンクのスタイル
    .side-nav {
      background-color: $main_blue_color;

      a {
        color: #FFFFFF;
      }
      a:visited {
        color: #FFFFFF;
      }
      a:link {
        color: #FFFFFF;
      }

      li:hover, li:active {
        background: $main_blue_color !important;
        color: #FFFFFF;
      }

      .collapsible-body {
        background-color: $main_blue_color;
      }
    }
  }
}